<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pukaaradmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PukaarAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.Contact_support"
            android:exported="false" />
        <activity
            android:name=".activity.Notification_setting"
            android:exported="false" />
        <activity
            android:name=".activity.Terms_of_use"
            android:exported="true" />
        <activity android:name=".activity.Pukaar_Forum" />
        <activity
            android:name=".activity.Add_Bank_Detail"
            android:exported="false" />
        <activity
            android:name=".activity.Speacial_Offer_create"
            android:exported="false" />
        <activity android:name=".activity.My_Post" />
        <!--
<activity
            android:name=".payment_verification"
            android:exported="false" />
        -->
        <activity
            android:name=".activity.Privacy_Policy"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.Share"
            android:exported="false" />
        <activity
            android:name=".activity.Subscribe"
            android:exported="false" />
        <activity
            android:name=".activity.Terms_And_Conditions"
            android:exported="false" />
        <activity
            android:name=".activity.Added_Therapist"
            android:exported="false" />
        <activity
            android:name=".activity.Add_Therapist"
            android:exported="true" />
        <activity
            android:name=".activity.Dashboard"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.Splash_Screen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.Chat"
            android:exported="false" />
    </application>

</manifest>